<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:ms-agentforce="http://www.mulesoft.org/schema/mule/ms-agentforce"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/ms-agentforce http://www.mulesoft.org/schema/mule/ms-agentforce/current/mule-ms-agentforce.xsd">

    <configuration-properties doc:name="Configuration properties" file="automation-credentials.properties"/>
    
    <ms-agentforce:config name="Agentforce_Config" doc:name="Agentforce Config" doc:id="e2310b9c-aa50-406c-85ae-8bfa200c009a" >
        <ms-agentforce:oauth-client-credentials-connection >
            <ms-agentforce:oauth-client-credentials clientId="${config.client-id}" clientSecret="${config.client-secret}" tokenUrl="${config.salesforce-org}" />
        </ms-agentforce:oauth-client-credentials-connection>
    </ms-agentforce:config>

    <ms-agentforce:config name="Agentforce_Config_Error" doc:name="Agentforce Config Error" doc:id="e2310b9c-aa50-406c-85ae-8bfa200c009a" >
        <ms-agentforce:oauth-client-credentials-connection >
            <ms-agentforce:oauth-client-credentials clientId="testId" clientSecret="testSecret" tokenUrl="${config.salesforce-org}" />
        </ms-agentforce:oauth-client-credentials-connection>
    </ms-agentforce:config>

</mule>
